@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Baskerville&display=swap');

.Home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #033f63;
  width: 100vw;
  height: 100vh;
}

.button {
  display: inline-block;
  background-color: transparent; 
  color: #7c9885; 
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 1.0s ease;
  font-size: 140px;
  font-family: 'Alfa Slab One', serif; 
}

.button:hover {
  color: #b5b682; 
  transform: scale(1.2);
}

